.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.row {
  margin-bottom: 20px;
  clear: both;
}

.row .col {
  margin-bottom: 20px;
  clear: both;
}

.image-box {
  float: left;
  margin-left: 15px;
  margin-right: 15px;
}

.image-box .image-tile img {
  width: auto;
  height: 150px;
  padding: 15px;
}

.image-box .image-checkbox {
  height: 25px;
  padding: 5px 15px;
}

.image-box .image-checkbox input {
  width: 15px;
}

.image-grid .image-grid-item {
  padding: 4px;
  margin: 2px;
  background-color: rgb(163, 232, 232);
  border: 2px solid rgb(78, 117, 117);
}

.image-grid .image-caption {
  background-color: rgb(211, 207, 207);
  padding: 4px 9px;
}

.image-grid .image-checkbox {
  background-color: gray;
  color: white;
}

.heading {
  background-color: gray;
  border: 1px solid rgb(81, 80, 80);
  padding: 5px 10px;
}

.progressBar {
  width: 100%;
  border: 1px solid #e2e2e2;
  height: 40px;
  position: relative;
}

.progressBar__display {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  text-align: center;
  line-height: 40px;
  z-index: 30;
}

.progressBar__completed {
  background: linear-gradient(187deg, rgb(156 133 18 / 74%) 0%, #caaf4e 100%);
  color: #fff;
  width: 0%;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  z-index: 10;
  border-radius: 3px;
}

.text-color-red {
  color: white;
  background-color: red;
  padding: 4px;
}

.text-color-blue {
  color: white;
  background-color: blue;
  padding: 4px;
}